<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>statsServiceImpl</servlet-name>
		<servlet-class>minesweeper.server.StatsServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>statsServiceImpl</servlet-name>
		<url-pattern>/minesweeper/stats</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Minesweeper.jsp</welcome-file>
	</welcome-file-list>

</web-app>
